<ion-view title="Mi app - Inicio de sesión">
<ion-content ng->
    <div class="list">
        <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text">
        </label>
        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password">
        </label>
        <label class="item">
            <button class="button button-block button-calm">Inicio</button>
        </label>
        <label class="item">
            <button class="button button-block button-calm" ui-sref="inicio.registro">Registro</button>
        </label>
    </div>
</ion-content>
</ion-view>