<ion-view title="Mi App - Registro" >
    <ion-content ng->
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Nombre</span>
                <input type="text" ng-model="Usuario.nombre">
            </label>
            <label class="item item-input">
                <span class="input-label">Fecha de nacimiento</span>
                <input type="date" ng-model="Usuario.fechaNacimiento">
            </label>

            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-model="Usuario.login">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="Usuario.password">
            </label>
            <label class="item">
                <button class="button button-block button-calm" ng-click="Registrar()">Guardar</button>
            </label>

        </div>

    </ion-content>

</ion-view>