<ion-view title="Mi App - Registro" >
    <ion-content ng->
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Nombre</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Fecha de nacimiento</span>
                <input type="date">
            </label>

            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password">
            </label>
            <label class="item item-input">
                <span class="input-label">Reperir password</span>
                <input type="password">
            </label>
            <label class="item">
                <button class="button button-block button-calm">Guardar</button>
            </label>

        </div>

    </ion-content>

</ion-view>